<div class='footer'>
  {% include footer-label.html
     img   = 'https://api.iconify.design/pajamas:location.svg'
     label = 'Liverpool, UK'
  %}
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:mail.svg'
     label = 'Email'
     link  = 'mailto:HaowenRong@protonmail.com'
  %}
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:github.svg'
     label = 'Github'
     link  = 'https://www.github.com/HaowenRong'
  %}
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:linkedin.svg'
     label = 'LinkedIn'
     link  = 'https://www.linkedin.com/in/alex-rong-71a808225'
  %}
</div>
