<div class='footer'>
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:location.svg'
     label = 'Location'
  %}
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:mail.svg'
     label = 'Email'
  %}
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:github.svg'
     label = 'Github'
  %}
  {% include footer-btn.html
     img   = 'https://api.iconify.design/pajamas:linkedin.svg'
     label = 'LinkedIn'
  %}
</div>
