.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid black;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .footer .pill {
  display: flex;
  height: 1.8rem;
  width: 20svw;
  border-radius: 200px;
  padding: 8px;
  gap: 10px;
  align-items: center;
  justify-content: start;
  color: var(--primary-color);
  line-height: 1;
  transition:
    background-color 0.15s ease,
    box-shadow 0.15s ease,
    color 0.15s ease;
} .footer .pill:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 4px 4px 10px grey;
} .footer .pill--noEffect {
  pointer-events: none;
} .footer .pill:hover .icon {
  filter: invert(100%);
} .footer .pill .icon {
  height: 100%;
  width: auto;
  min-width: 32px;
  min-height: 32px;
  transition:
    filter 0.25s ease;
} .footer .pill .icon img {
  width: 100%;
  height: 100%;
} .footer .pill .label {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
} .footer .pill .label p {
  all: unset;
  font-weight: 600;
  font-size: 16px;
  align-self: center;
  color: inherit;
}

.sub-heading {
  all: unset;
  font-weight: 700;
  font-size: 20px;
  align-self: flex-start;
}


@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  } .footer .pill {
    width: 40%;
    transform: scale(0.9);
  }
}
