.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid black;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .footer .pill {
  display: flex;
  height: 2rem;
  width: 22svw;
  border-radius: 200px;
  padding: 8px;
  gap: 10px;
  align-items: center;
  justify-content: start;
  color: var(--primary-color);
  line-height: 1;
  transition:
    background-color 0.15s ease,
    box-shadow 0.15s ease,
    color 0.15s ease;
} .footer .pill:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 4px 4px 10px grey;
} .footer .pill--noEffect {
  pointer-events: none;
} .footer .pill:hover .icon {
  filter: invert(100%);
} .footer .pill .icon {
  height: 100%;
  width: auto;
  min-width: 32px;
  min-height: 32px;
  transition:
    filter 0.25s ease;
} .footer .pill .icon img {
  width: 100%;
  height: 100%;
} .footer .pill .label {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
} .footer .pill .label p {
  all: unset;
  font-weight: 600;
  font-size: 18px;
  align-self: center;
  color: inherit;
}


.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
} .contact-list h2 {
  all: unset;
  font-weight: 700;
  font-size: 20px;
  align-self: flex-start;
} .contact-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70%;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--primary-color);
} .contact-container .icon {
  display: flex;
  height: 100%;
  width: auto;
  background-color: var(--background-color);
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .contact-container .icon img {
  width: 100%;
  height: 100%;
} .contact-container .content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} .contact-container .content-section .desc {
  font-size: 20px;
  
  color: var(--background-color);
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .contact-container .content-section .contact {
  font-size: 18px;
  font-weight: 500;
  color: lightgray;
  width: 100%;
}

@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  } .footer .pill {
    width: 40%;
    transform: scale(0.9);
  }

  .contact-container {
    flex-direction: column;
    width: 90%;
    height: auto;
  } .contact-container .icon {
    width: 16%;
    height: 16%;
    padding: 10px;
  }
}
