.header {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-bottom: 10px;
  align-items: center;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .header h1 {
  all: unset;
  color: inherit;
  font-size: 42px;
  font-weight: 800;
  color: var(--primary-color);
  text-wrap: nowrap;
} .header hr {
  display: flex;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--primary-color);
  margin-left: 20px;
}

@media (max-width: 600px) {
  .header {
    border-bottom: 2px solid var(--primary-color);
  } .header hr {
    display: none;
  }
}
