
.hyperlink-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 70%;
}

.hyperlink-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--primary-color);
  align-items: stretch;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
} .hyperlink-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px grey;
} .hyperlink-card .icon {
  display: flex;
  aspect-ratio: 1 / 1;
  height: auto;
  width: auto;
  background-color: var(--background-color);
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .hyperlink-card .icon img {
  width: 100%;
  height: 100%;
} .hyperlink-card .content-section {
  height: auto;
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: space-between;
} .hyperlink-card .content-section .desc {
  all: unset;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  
  color: var(--background-color);
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .hyperlink-card .content-section .display-link {
  all: unset;
  font-size: 16px;
  font-weight: 500;
  color: azure;
  width: 100%;
} .hyperlink-card:hover .action-icon {
    transition:
    width 0.15s ease,
    height 0.15s ease;
  height: 32px;
  width: 32px;
} .hyperlink-card .action-icon {
  display: flex;
  aspect-ratio: 1 / 1;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  filter: invert(100%);
  align-self: center;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .hyperlink-card .action-icon img {
  width: 100%;
  height: 100%;
}


@media (max-width: 600px) {
  .hyperlink-card-list {
    width: 100%;
  }

  .hyperlink-card {
    flex-direction: column;
    width: 100%;
  } .hyperlink-card .icon {
    width: 16%;
    height: 16%;
    padding: 10px;
  } .hyperlink-card .action-icon {
    padding: 0px;
    position: absolute;
    align-self: end;
  }
}