

nav {
  position: fixed;
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: center;
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 10px;
  z-index: 10;
  background-color: var(--background-color);
} nav .bar {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  width: var(--content-width);
  justify-content: space-between;
  align-items: center;
} nav .bar .title-card {
  all: unset;
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
} nav .bar .title-card:hover {
  cursor: pointer;

} nav .bar .title-card h2 {
  all: unset;
  font-size: 24px;
  color: inherit;
  font-weight: 500;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons {
  display: flex;
  gap: 10px;
  height: 80%;
  width: auto;
  justify-content: space-between;
} nav .bar .buttons button {
  all: unset;
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(background-color);
  border-radius: 100px;
  transition: background-color 0.15s ease;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: aliceblue;
  transition: color 0.15s ease;
} nav .bar .buttons button h3 {
  all: unset;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

.main {
  display: flex;
  margin-top: 104px;
  flex-direction: column;
  height: 100svh;
  width: var(--content-width);
  gap: 30px;
  padding: 20px;
  padding-top: 0;
} .main .header {
  display: flex;
  height: auto;
  border-bottom: 2px solid var(--primary-color);
  box-sizing: border-box;
} .main .header h1 {
  all: unset;
  color: inherit;
  font-size: 42px;
  font-weight: 800;
  color: var(--primary-color);
}
.main .content p {
  font-weight: bold;
}




@media (max-width: 600px) {
  nav {
    bottom: 0;
    box-shadow: 0 -4px 10px var(--shadow-color);
  }
  .main {
    margin-top: 30px;
  }
}