
.main {
  display: flex;
  margin-top: 84px;
  margin-bottom: 40px;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-top: 0;
}

.section-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding-top: 20px;
  width: 100%;
} .section-background--alternative {
  background-color: rgb(241, 237, 232);
} .section-content {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.img-inline-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: end;
} .img-inline-text img {
  width: 17rem;
  height: auto;
  border-radius: 10px;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .img-inline-text .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: justify;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: justify;
}

.main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main .content p {
  all: unset;
  font-weight: bold;
  font-size: 16px;
}

a {
  all: unset;
  color: var(--link-color);
} a:hover {
  cursor: pointer;
}



@media (max-width: 600px) {
  .main {
    margin-top: 0px;
    margin-bottom: 84px;
  } .section-content {
    width: auto;
    max-width: var(--content-width);
  }

  .img-inline-text {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  } .img-inline-text img {
    width: 60%;
  }
}