

nav {
  position: fixed;
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: center;
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 10px;
  z-index: 10;
  background-color: var(--background-color);
} nav .bar {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  width: var(--content-width);
  justify-content: space-between;
  align-items: center;
} nav .bar .title-card {
  all: unset;
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
} nav .bar .title-card:hover {
  cursor: pointer;

} nav .bar .title-card h2 {
  all: unset;
  font-size: 24px;
  color: inherit;
  font-weight: 500;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons {
  display: flex;
  gap: 10px;
  height: 75%;
  width: auto;
  justify-content: space-between;
} nav .bar .buttons a {
  all: unset;
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(background-color);
  border-radius: 100px;
  transition:
    background-color 0.15s ease,
    box-shadow       0.15s ease,
    color            0.15s ease;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons a:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 2px 2px 10px grey;
} nav .bar .buttons a h3 {
  all: unset;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

.main {
  display: flex;
  margin-top: 104px;
  flex-direction: column;
  height: auto;
  width: var(--content-width);
  gap: 30px;
  padding: 20px;
  padding-top: 0;
} .main .header {
  display: flex;
  height: auto;
  border-bottom: 2px solid var(--primary-color);
  box-sizing: border-box;
} .main .header h1 {
  all: unset;
  color: inherit;
  font-size: 42px;
  font-weight: 800;
  color: var(--primary-color);
}
.main .content p {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid black;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .footer .pill {
  display: flex;
  height: 32px;
  width: 30%;
  border-radius: 200px;
  padding: 8px;
  gap: 10px;
  align-items: center;
  justify-content: start;
  color: var(--primary-color);
  transition:
    background-color 0.15s ease,
    box-shadow 0.15s ease,
    color 0.15s ease;
} .footer .pill:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 4px 4px 10px grey;
} .footer .pill:hover .icon {
  filter: invert(100%);
} .footer .pill .icon {
  height: 100%;
  width: auto;
  transition:
    filter 0.25s ease;
} .footer .pill .icon img {
  width: 100%;
  height: 100%;
} .footer .pill .label {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
} .footer .pill .label p {
  all: unset;
  font-weight: 600;
  font-size: 18px;
  align-self: center;
  color: inherit;
}



@media (max-width: 600px) {
  nav {
    bottom: 0;
    box-shadow: 0 -4px 10px var(--shadow-color);
  }
  .main {
    margin-top: 30px;
    margin-bottom: 64px;
  }

  .footer {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  } .footer .pill {
    width: 40%;
    transform: scale(0.9);
   }
}