body {
  margin: 0;
  font-family: 'Archivo-Regular', sans-serif;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: center;
  box-shadow: 0 10px 10px var(--background-color);
  padding: 10px;
  z-index: 10;
  background-color: var(--accent-color);
}

nav .bar {
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  width: var(--content-width);
  justify-content: space-between;
  align-items: center;
}

nav .bar .title-card {
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
nav .bar .title-card h2 {
  all: unset;
  font-size: 3vmin;
  color: inherit;
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
}

nav .bar .buttons {
  display: flex;
  gap: 10px;
  height: 80%;
  width: auto;
  justify-content: space-between;
}
nav .bar .buttons button {
  all: unset;
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-radius: 100px;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons button:hover {
  cursor: pointer;
  background-color: bisque;
}
nav .bar .buttons button h3 {
  all: unset;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
}

.main {
  display: flex;
  margin-top: 104px;
  background-color: var(--background-color);
  flex-direction: column;
  height: 100svh;
  width: var(--content-width);
}