nav {
  position: fixed;
  display: flex;
  height: 64px;
  width: 100%;
  justify-content: center;
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
} nav .bar {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  width: var(--content-width);
  justify-content: space-between;
  align-items: center;
} nav .bar .title-card {
  all: unset;
  display: flex;
  height: 100%;
  width: auto;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
} nav .bar .title-card:hover {
  cursor: pointer;

} nav .bar .title-card h2 {
  all: unset;
  font-size: 24px;
  color: inherit;
  font-weight: 500;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons {
  display: flex;
  gap: 10px;
  height: 75%;
  width: auto;
  justify-content: space-between;
} nav .bar .buttons a {
  all: unset;
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(background-color);
  border-radius: 100px;
  transition:
    background-color 0.15s ease,
    box-shadow       0.15s ease,
    color            0.15s ease;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} nav .bar .buttons a:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 2px 2px 10px grey;
} nav .bar .buttons a h3 {
  all: unset;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  nav {
    bottom: 0;
    box-shadow: 0 -4px 10px var(--shadow-color);
  }
}
