.section-content ul {
  list-style: none;
  padding: 0;
  padding-top:    30px;
  padding-bottom: 30px;
  margin: 0;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  align-items: center;
} .projects-container li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-card {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    padding 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease,
    border 0.25s ease;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;

} .project-card--link {
  display: flex;
  gap: 20px;
  padding: 10px;
} .project-card--link .label {
  display: flex;
  justify-content: center;
  height: fit-content;
} .project-card--link .label h2 {
  all: unset;
  font-size: 24px;
  font-weight: bolder;
  line-height: 1;
  color: inherit;
} .project-card--link .icon {
  height: 100%;
  aspect-ratio: 1 / 1;
  transition:
    padding 0.15s ease,
    filter 0.15s ease;
} .project-card--link:hover .icon {
  padding-left: 20px;
} .project-card--link:active {
  padding-left: 20px;
} .project-card--link .icon img {
  height: 100%;
  width: 100%;
  filter: invert(100%);
} .project-card--link:hover .icon img {
  height: 100%;
  width: 100%;
  filter: invert(0%);


} .project-card:hover {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--primary-color);
  transform: scale(1.01);
  box-shadow: 4px 4px 10px grey;
} .project-card .date-section {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  padding-right: 20px;
  border-right: 2px solid var(--background-color);
} .project-card:hover .date-section {
  border-right: 2px solid var(--primary-color);
} .project-card .date-section .date {
  width: auto;
  height: auto;
} .project-card .date-section .date h3 {
  all: unset;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  color: inherit;
} .project-card .content-section {
  width: 100%;
  height: 100%;
  padding-left: 20px;
} .project-card .content-section .title {
  display: flex;
  align-items: end;
  justify-content: space-between;
} .project-card .content-section .title h2 {
  all: unset;
  font-size: 36px;
  font-weight: bolder;
  line-height: 1;
  color: inherit;
} .project-card .content-section .title h3 {
  all: unset;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: inherit;
} .project-card .content-section .desc {
  display: flex;
  align-items: start;
} .project-card .content-section .desc p {
  all: unset;
  font-weight: bold;
  color: inherit;
}

.back-btn {
  all: unset;
  position: relative;
  display: flex;
  border-radius: 200px;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  padding-left: 10px;
  padding-right: 18px;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  transition: box-shadow 0.15s ease;

  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
} .back-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px grey;
} .back-btn .icon {
  height: 100%;
  width: auto;
  transition:
    filter 0.25s ease;
} .back-btn .icon img {
  width: 100%;
  height: 100%;
} .back-btn .label {
  display: flex;
  height: fit-content;
  width: auto;
  justify-content: center;
  align-items: center;
} .back-btn .label p {
  all: unset;
  font-weight: 600;
  font-size: 22px;
  align-self: center;
  color: inherit;
}

@media (max-width: 600px) {
  .project-card {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);

    transition:
      background-color 0.15s ease,
      color 0.15s ease,
      padding 0.15s ease,
      transform 0.15s ease,
      box-shadow 0.15s ease,
      border 0.25s ease;
  } .project-card .date-section {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    padding-right: 0px;
    margin-bottom: 4px;
    border-right: none;
    border-bottom: 2px solid var(--background-color);
  } .project-card:hover .date-section {
    border-right: none;
    border-bottom: 2px solid var(--primary-color);
  } .project-card .date-section .date h3 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  } .project-card .content-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 0px;
  }.project-card .content-section .title h2 {
    font-size: 32px;
  } .project-card .content-section .desc p {
    font-size: 16px;
    line-height: 1.4;
  }
}