.section-content ul {
  list-style: none;
  padding: 0;
  padding-top:    30px;
  padding-bottom: 30px;
  margin: 0;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  align-items: center;
} .projects-container li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-card {
  all: unset;
  display: grid;
  grid-template-areas:
  "date content";
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  width: 70%;
  box-sizing:content-box;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    padding 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease,
    border 0.25s ease;
  
  user-select:           none;
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;

} .project-card:hover {
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--primary-color);
  transform: scale(1.01);
  box-shadow: 4px 4px 10px var(--shadow-color);
} .project-card .date-section {
  grid-area: date;
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  padding-right: 20px;
  border-right: 2px solid var(--background-color);
} .project-card:hover .date-section {
  border-right: 2px solid var(--primary-color);
} .project-card .date-section .date {
  width: auto;
  height: auto;
} .project-card .date-section .date h2 {
  all: unset;
  font-size: var(--title2-text);
  font-weight: 600;
  line-height: 1;
  color: inherit;
} .project-card .content-section {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 20px;
} .project-card .content-section .title {
  display: flex;
  align-items: end;
  justify-content: space-between;
} .project-card .content-section .title h2 {
  all: unset;
  font-size: var(--title2-text);
  font-weight: bolder;
  line-height: 1;
  color: inherit;
} .project-card .content-section .desc {
  display: flex;
  align-items: start;
  text-align: justify;
} .project-card .content-section .desc p {
  all: unset;
  font-weight: 500;
  color: inherit;
  font-size: var(--body-text);
} .project-card  .content-section .tags-section {
  padding-top: 10px;
} .project-card  .content-section .tags-section p {
  all: unset;
  font-weight: 500;
  color: inherit;
  font-size: var(--body-text);
}

.project-card--link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
} .project-card--link .label {
  display: flex;
  justify-content: center;
  height: fit-content;
} .project-card--link .label h2 {
  all: unset;
  font-size: var(--title3-text);
  font-weight: bolder;
  line-height: 1;
  color: inherit;
} .project-card--link .icon {
  height: 100%;
  aspect-ratio: 1 / 1;
  transition:
    padding 0.15s ease,
    filter 0.15s ease;
} .project-card--link:hover .icon {
  padding-left: 20px;
} .project-card--link .icon img {
  height: 100%;
  width: 100%;
  filter: invert(100%);
} .project-card--link:hover .icon img {
  height: 100%;
  width: 100%;
  filter: invert(0%);
}

@media (max-width: 600px) {
  .project-card {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: start;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);

    transition:
      background-color 0.15s ease,
      color 0.15s ease,
      padding 0.15s ease,
      transform 0.15s ease,
      box-shadow 0.15s ease,
      border 0.25s ease;
  } .project-card--link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
  } .project-card .date-section {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    padding-right: 0px;
    margin-bottom: 4px;
    border-right: none;
    border-bottom: 2px solid var(--background-color);
  } .project-card:hover .date-section {
    border-right: none;
    border-bottom: 2px solid var(--primary-color);
  } .project-card .date-section .date h3 {
    font-size: var(--title3-text);
    padding-left: 10px;
    padding-right: 10px;
  } .project-card .content-section {
    padding-left: 0px;
  } .project-card .content-section .desc p {
    font-size: var(--body-text);
  }
}