:root {
  --primary-color: rgb(50, 51, 55);
  --background-color: #FEFBF9;
  --accent-color: rgb(73, 114, 190);
  --shadow-color: rgba(50, 51, 55, 0.2);
  --error-color: #FF1C1C;
  --link-color: #1c4dff;

  --content-width: 1000px;
}

@media (max-width: 600px) {

}

@font-face {
  font-family: 'Archivo';
  src: url('/src/styles/fonts/fonts/Archivo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/src/styles/fonts/fonts/Archivo-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/src/styles/fonts/fonts/Archivo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('/src/styles/fonts/fonts/Archivo-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;

  margin: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}