:root {
  --primary-color: rgb(50, 51, 55);
  --background-color: #dfdad6;
  --accent-color: #FEFBF9;
  --error-color: #FF1C1C;
  --link-color: #1c4dff;

  --content-width: 1000px;
}

@media (max-width: 600px) {

}