<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/root.css">
  <link rel="stylesheet" href="/src/styles/main.css">
  <link rel="stylesheet" href="/src/styles/projects.css">
  <script defer src="/src/scripts/pageLoader.js" type="text/javascript"></script>
  <script defer src="/src/scripts/loadNavi.js" type="text/javascript"></script>
  <title>Personal</title>
  <style>
    
  </style>
</head>
<body id='body'>
  {% include navi.html %}

  <div id='main' class='main'>
    {{ content }}
  </div>

</body>
</html>
